<%# 归档 %>

<%# 描述：这个文件以时间线的方式展示所有文章 %>
<%# 这个文件不接收参数 %>

<%- partial("partial/topbar", {active: "archive"}) %>
<main>
    <div class="container">
        <h1 class="page-title">
            <%= _p("archives") %>
        </h1>
        <%# 获取所有文章，并按时间排序 %>
        <% let posts = site.posts.sort("date", "desc"); %>
        <% let year = 0; %>
        <%# 遍历所有文章 %>
        <% for (let i = 0; i < site.posts.length; i++) { %>
            <% let p = posts.data[i] %>
            <%# 第一次出现新的年份，进行显示%>
            <% if (p.date.year() !== year) { %>
                <% year = p.date.year(); %>
                <div class="page-archive-year"><%= year %></div>
            <% } %>
            <%# 显示文章信息 %>
            <div class="page-archive-item" >
                <%# 文章发布日期 %>
                <div class="page-archive-item-date">
                    <%= p.date.format("MM-DD") %>
                </div>
                <%# 文章链接 %>
                <a href="<%- url_for(p.path) %>" class="page-archive-item-link">
                    <%= p.title || "Untitled" %>
                </a>
            </div>
        <% } %>
    </div>
</main>
