<%# 归档 %>

<%# 描述：这个文件以时间线的方式展示所有文章 %>
<%# 这个文件不接收参数 %>

<% 
let posts = site.posts.sort("date","desc");
let year = 0; 
%>

<%- partial("partial/topbar", {active: 'archive'}) %>
<main class="container">
  <h1 class="page-title"><%= theme.menu['archive'].title %></h1>
  <div class="page-archive">
    <%# 获取所有文章，并按时间排序 %> 
    <% for (let i = 0; i < site.posts.length; i++) { %>
      <% let p = posts.data[i]; %>
      <% if (is_year() && p.date.year() !== page.year) { continue; } %>
      <%# Year tag show only once. %>
      <% if (p.date.year() !== year) { %>
        <% year = p.date.year(); %>
        <% if (is_year()) { %>
          <div class="page-archive-year"><%= year %></div>
        <% } else { %>
          <a href="<%= year %>" class="page-archive-year"><%= year %></a>
        <% } %>
      <% } %>
      <% if (is_month() && p.date.month() + 1 !== page.month ) { continue; } %>
      <%# 显示文章信息 %>
      <div class="page-archive-item">
        <%# 文章发布日期 %>
        <div class="page-archive-item-date">
          <%- archive_month_tag(is_year(), is_month(), p) %>
        </div>
        <%# 文章链接 %>
        <a class="page-archive-item-link" href="<%= get_post_link(p) %>">
          <%= get_post_title(p) %>
        </a>
      </div> <!-- page-archive-item -->
    <% } %> <%# for END %>
  </div> <!-- page-archive -->
</main>
