<%# 首页 %>

<%# 描述：默认进入首页 %>
<%# 这个文件不接收参数 %>

<%- partial("partial/topbar", {active: "home"}) %>
<main class="container">
    <h1 class="page-title">
        <%= theme.index %>
    </h1>
    <%- partial("partial/pager") %>
    <%- partial("partial/list-articles") %>
    <%- partial("partial/pager") %>
</main>
