<%# 这个文件是所有页面都需要的，只负责基础的元素 %>
<!doctype html>
<html id="root" lang="<%= config.language %>">
  <head>
    <meta charset="UTF-8" />
    <meta name="author" content="<%= config.author %>" />
    <meta name="description" content="<%= config.description %>" />
    <meta name="keywords" content="<%= config.keywords %>" />
    <meta
      name="theme-color"
      media="(prefers-color-scheme: light)"
      content="white"
    />
    <meta
      name="theme-color"
      media="(prefers-color-scheme: dark)"
      content="dark"
    />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <%- title_tag() %>

    <%- meta_generator() %>
    <%- open_graph() %>

    <%if (config.feed.enable) { %>
    <%- feed_tag() %>
    <% } %>

    <!-- jQuery -->
    <%- js(theme.jquery) %>

    <!-- fancybox -->
    <% if (theme.fancybox.enable) { %>
    <%- css(theme.fancybox.css) %>
    <%- js(theme.fancybox.js) %>
    <% } %>

    <!-- Bootstrap icons -->
    <%- css(theme.bootstrap) %>

    <%# 只在禁用Hexo自带的代码高亮时，使用主题的高亮 %>
    <% if (!is_use_hexo_highlighter()) { %>
    <!-- highlight.js -->
    <%- css({
          href: theme.hljs.css.light,
          id: 'code-style'
        }) %>
    <%- js(theme.hljs.js) %>
    <% } %>

    <!-- site style -->
    <%- css(theme.style.light) %>
    <%- css(theme.style.dark) %>
    <%- css('css/huzerovo.css') %>

    <!-- theme switcher -->
    <%- js('js/huzerovo.js') %>
    <!-- searching support -->
    <%- js('js/search.js') %>

    <%# Katex，在文章、主页、分类以及标签页开启 %>
    <!-- katex renderer -->
    <% if (theme.katex.enable 
           && (page.katex || is_home() || is_category() || is_tag())) { %>
    <%- partial("partial/katex") %>
    <% } %>
    <script>
      const ThemeConf = {
        rootId: "root",
        codeId: "code-style",
        ibtnId: "btn-switch-theme",
        iconDarkClass: "bi-moon",
        iconLightClass: "bi-sun",
        codeStyle: {
          light: "<%= url_for(theme.hljs.css.light) %>",
          dark: "<%= url_for(theme.hljs.css.dark) %>",
        },
      };
      window.load = ThemeSwitcher.init();
      window
        .matchMedia("(prefers-color-scheme: light)")
        .addEventListener("change", ThemeSwitcher.follow);
    </script>
  </head>

  <body>
    <%- body %>
    <%- partial('partial/goto-top') %>
    <%- partial('partial/site-footer') %>
  </body>

  <script>
    hljs.highlightAll();
    $("#goto-top").hide();
    // 页面载入后设置icon
    ThemeSwitcher.follow();
    $(document).ready(function () {
      // 监听事件
      $("#btn-switch-theme").click(switchThemeClickHandler);
      $("#btn-side-menu").click(function () {
        let e = $("#side-nav");
        let hide = "side-menu-hidden";
        let show = "side-menu-show";
        if (e.hasClass(hide)) {
          e.removeClass(hide);
          e.addClass(show);
        } else {
          e.removeClass(show);
          e.addClass(hide);
        }
      });
      $("#search-input").on("input", function () {
        searchArticle("<%= url_for(config.search.path) %>");
      });
      $("#goto-top").click(function () {
        $("#root").scrollTop(0);
      });

      $(window).scroll(function () {
        if ($("#root").scrollTop() > 300) {
          $("#goto-top").show();
        } else {
          $("#goto-top").hide();
        }
      });

      Fancybox.bind(".container img");
      Fancybox.bind("[data-fancybox]");
    });
  </script>
</html>
