<!DOCTYPE html>
<html  id="root" lang="<%= config.language %> ">

<%- partial("partial/head") %>

<body>
    <%- body %>
    <footer>
        <p> Copyright <%= date(Date.now(), 'YYYY') %> @<%= config.author %></p>
        <p>
            Powered by <a class="footer-link" href="https://hexo.io">Hexo</a>. Theme by HuLingOAO.
        </p>
        <br>
    </footer>
</body>

</html>