<%# 这个文件是所有页面都需要的，只负责基础的元素 %>
<!DOCTYPE html>
<html  id="root" lang="<%= config.language %> ">

<head>
    <meta charset="UTF-8" />
    <meta name="google" content="notranslate" />
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <title> <%= config.title %> </title>

    <link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>

    <% if (theme.highlightjs) { %>
    <link id="code-style" rel="stylesheet" href="<%= url_for(theme.style.light.code) %>">
    <script src="<%= url_for(theme.style.hljs) %>"></script>
    <script>hljs.highlightAll(); </script>
    <% } %>

    <%- css([url_for(theme.style.light.site)]) %>
    <%- css([url_for(theme.style.dark.site)]) %>
    <%- css(["css/animation.css"]) %>
    <%- css(["css/article.css"]) %>
    <%- css(["css/main.css"]) %>
    <%- css(["css/sidebar.css"]) %>
    <%- css(["css/topbar.css"]) %>
    <%- js(["js/huzerovo.js"]) %>
    <%- js(["js/search.js"]) %>

    <% if (theme.mathjax && (page.mathjax || is_home() || is_tag() || is_category())) { %>
        <%- partial("partial/mathjax") %>
    <% } %>

    <script>
        let codeStyle = {};
        codeStyle.dark = "<%= url_for(theme.style.dark.code) %>";
        codeStyle.light = "<%= url_for(theme.style.light.code) %>";
        window.load = myLoading();
        window.matchMedia("(prefers-color-scheme: light)").addEventListener('change', followTheme);
    </script>
</head>

<body>
    <%- body %>
    <button id="goto-top" type="button" title="<%= _p("go_to_top") %>">
        <%= _p('go_to_top') %>
    </button>
    <footer>
        <p> Copyright <%= date(Date.now(), 'YYYY') %> @<%= config.author %></p>
        <p>
            Powered by <a class="footer-link" href="https://hexo.io">Hexo</a>. Theme by 狐zerOAO.
        </p>
        <br>
    </footer>
</body>
<script>
$('#goto-top').hide();
// 页面载入后设置icon
setTheme(getStorage('currentTheme'));
$(document).ready(function() {
    // 监听事件
    $('#btn-switch-theme').click(switchTheme);
    $('#btn-side-menu').click(function() {
        let e = $('#side-nav');
        let hide = 'side-menu-hidden'
        let show = 'side-menu-show'
        if (e.hasClass(hide)) {
            e.removeClass(hide);
            e.addClass(show);
        } else {
            e.removeClass(show);
            e.addClass(hide);
        }
    });
    $('#search').on('input', function() {
        searchArticle("<%= url_for(config.search.path) %>");
    });
    $('#goto-top').click(function() {
        $('#root').scrollTop(0);
    });

    $(window).scroll(function() {
        if ($('#root').scrollTop() > 300) {
            $('#goto-top').show();
        } else {
            $('#goto-top').hide();
        }
    });
});
</script>
</html>
