<%# 这个文件是所有页面都需要的，只负责基础的元素 %>
<!DOCTYPE html>
<html  id="root" lang="<%= config.language %> ">

<head>
    <meta charset="UTF-8" />
    <meta name="author" content="<%= config.author %>" />
    <meta name="description" content="<%= config.description %>" />
    <meta name="generator" content="Hexo" />
    <meta name="keywords" content="<%= config.keywords %>" />
    <meta name="theme-color" media="(prefers-color-scheme: light)" content="white">
    <meta name="theme-color" media="(prefers-color-scheme: dark)" content="dark">
    <meta name="viewport" content="width=device-width,initial-scale=1"/>

    <% if (theme.rss && theme.rss.enable) { %>
        <%- feed_tag(theme.rss.path) %>
    <% } else if (config.feed && config.feed.enable) { %>
        <%- feed_tag() %>
    <% } %>

    <%  
        let tail_str = '';
        if (config.subtitle !== '') {
            tail_str = tail_str + ' - ' + config.subtitle;
        }
        if (config.description !== '') {
            tail_str = tail_str + ' | ' + config.description;
        }
    %>
    <% if (is_post()) { %>
    <title> <%= page.title + tail_str %> </title>
    <% } else { %>
    <title> <%= config.title + tail_str %> </title>
    <% } %>

    <%# Bootstrap icons %>
    <%- css(theme.bootstrap) %>

    <%# jQuery %>
    <%- js(theme.jquery) %>

    <%# Font awesome %>
    <%- js(theme.fontawesome) %>

    <%# fancybox%>
    <% if (theme.fancybox.enable) { %>
        <%- css(theme.fancybox.css) %>
        <%- js(theme.fancybox.js) %>
    <% } %>

    <%# highlight.js仅在网站未启用Hexo内置的高亮时使用 %>
    <% if (theme.hljs.enable && !config.highlight.enable) { %>
        <%- css({
        href: theme.style.code.light, 
        id: 'code-style'}) 
        %>
        <%- js(theme.hljs.js) %>
        <script>hljs.highlightAll();</script>
    <% } %>

    <%# 网站布局框架 %>
    <%- css('css/huzerovo.css') %>

    <%# 网站主题 %>
    <%- css(theme.style.site.light) %>
    <%- css(theme.style.site.dark) %>

    <%# 一些辅助功能 %>
    <%- js(['js/huzerovo.js', 'js/search.js']) %>

    <%# Katex，在文章、主页、分类以及标签页开启 %>
    <% if (theme.katex.enable && (page.katex || is_home() || is_category() || is_tag())) { %>
        <%- partial("partial/katex") %>
    <% } %>
    <script>
        let codeStyle = {};
        codeStyle.light = "<%= url_for(theme.style.code.light) %>";
        codeStyle.dark = "<%= url_for(theme.style.code.dark) %>";
        window.load = myLoading();
        window.matchMedia("(prefers-color-scheme: light)").addEventListener('change', followTheme);
    </script>
</head>

<body>
    <%- body %>
    <%# 返回顶部按钮 %>
    <button id="goto-top" type="button" title="<%= _p("goto_top") %>">
        <%= _p('goto_top') %>
    </button>
    <footer>
        <p> Copyright <%= date(Date.now(), 'YYYY') %> 
        <% if (theme.email) { %>
        <a href="mailto:<%= theme.email %>">
        <i class='bi bi-envelope-fill'></i>
        @<%= config.author %>
        </a>
        <% } else { %>
        @<%= config.author %>
        <% } %>
        </p>
        <p>
            Powered by <a href="https://hexo.io">Hexo</a>. 
            Theme by <a href="https://github.com/HuzerOVO/hexo-theme-huzerovo">狐zerOAO</a>.
        </p>
        <br>
    </footer>
</body>

<script>
$('#goto-top').hide();
// 页面载入后设置icon
setTheme(getStorage('currentTheme'));
$(document).ready(function() {
    // 监听事件
    $('#btn-switch-theme').click(switchTheme);
    $('#btn-side-menu').click(function() {
        let e = $('#side-nav');
        let hide = 'side-menu-hidden'
        let show = 'side-menu-show'
        if (e.hasClass(hide)) {
            e.removeClass(hide);
            e.addClass(show);
        } else {
            e.removeClass(show);
            e.addClass(hide);
        }
    });
    $('#search').on('input', function() {
        searchArticle("<%= url_for(config.search.path) %>");
    });
    $('#goto-top').click(function() {
        $('#root').scrollTop(0);
    });

    $(window).scroll(function() {
        if ($('#root').scrollTop() > 300) {
            $('#goto-top').show();
        } else {
            $('#goto-top').hide();
        }
    });

    Fancybox.bind(".container img");
});
</script>
</html>
