<!DOCTYPE html>
<html  id="root" lang="<%= config.language %> ">

<%- partial("partial/head") %>

<body>
    <%- body %>
    <footer>
        <p> Copyright <%= date(Date.now(), 'YYYY') %> @<%= config.author %></p>
        <p>
            Powered by <a class="footer-link" href="https://hexo.io">Hexo</a>. Theme by HuLingOAO.
        </p>
        <br>
    </footer>
</body>

    <script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>
    <script>


const gitalk = new Gitalk({
  clientID: '8430fc1311285afb9029',
  clientSecret: '6d9f1ff1d6db0df95fd537a3f3b2c686d35d641a',
  repo: 'HuzerOVO/HuzerovoGitalk',      // The repository of store comments,
  owner: 'HuzerOVO',
  admin: ['HuzerOVO'],
  id: location.pathname,      // Ensure uniqueness and length less than 50
  distractionFreeMode: false  // Facebook-like distraction free mode
})

gitalk.render('gitalk-container')
    </script>
</html>
