<%# 页面 %>

<%# 描述这个文件用于展示一些自定义的页面 %>
<%# 这个文件不接收参数 %>

<%- partial("partial/topbar", {active: page.title}) %>
<main class="container">
    <h1 class = "page-title">
        <% 
            switch (page.title) {
            case 'search':
            case 'uncategorized':
        %>
            <%- _p(page.title) %>
            <% break; %>
        <%
            default:
        %>
            <%= theme.menu[page.title].title; %>
        <% } %>
    </h1>
    <% switch (page.title) {
        case 'about':
        case 'categories':
        case 'search':
        case 'tagcloud':
        case 'uncategorized':
    %>
        <%- partial("page/" + page.title); %>
        <% break; %>
    <%  default: %>
        <%- partial("page/default"); %>
    <% } %>
</main>
