<% if (page.title==="categories") { %>
    <%- partial("partial/page-categories") %>
<% } else if (page.title === "tags") { %>
    <%- partial("partial/page-tags") %>
<% } else if (page.title === "about") { %>
    <%- partial("partial/page-about") %>
<% } else { %>
    <%- partial("partial/topbar") %>
    <main>
        <div id = "left-sidebar"></div>
        <article id = "main-container">
            <%- page.content %>
        </article>
        <div id = "right-sidebar"></div>
    </main>
<% } %>