<%- partial("partial/topbar") %>
<%- partial("partial/side-menu") %>
<main>
    <div class="left-sidebar">
        <% if (theme.toc && page.toc) { %>
            <p class="sidebar-list-title"><%= _p("toc") %></p>
            <%- toc(page.content, {list_number: false}) %>
        <% } %>
    </div>

    <article class="main-container">
        <h1 style="text-align: center;" id="top-title"><%= page.title %></h1>
        <div class="article-date-info">
            <p> <%= _p("publish") %>: <%= page.date.format("YYYY-MM-DD") %></p>
            <p><%= _p("last_update") %>: <%= page.updated.format("YYYY-MM-DD") %></p>
        </div>
        <div class="inline-list">
        <% if (page.tags.length > 0) { %>
            <p class="inline-list-title"><%= _p("categories") %></p>
            <%- list_categories(page.categories, {show_count: false, class: "inline-list-post-categories"}) %>
        <% } %>    
        <% if (page.categories.length > 0) { %>
            <p class="inline-list-title"><%= _p("tags") %></p>
            <%- list_tags(page.tags, {show_count: false, class: "inline-list-post-tags"}) %>
        <% } %>
        </div>
        <%- page.content %>
    </article>

    <div class="right-sidebar">
        <% if (page.tags.length > 0) { %>
            <%- partial("partial/tags-list", {tags: page.tags, myclass: "post-tags"}) %>
        <% } %>
        <% if (page.categories.length > 0) { %>
            <%- partial("partial/categories-list", {categories: page.categories, myclass: "post-categories"}) %>
        <% } %>
    </div>
</main>
