<%# 标签 %>

<%# 描述：这个页面显示具有相同标签的所有文章 %>
<%# 这个文件不接收参数 %>

<%- partial("partial/topbar", {active: "tag"}) %>
<main>
    <div class="container">
        <h1 class="page-title">
            <%- _p("tag") %>: <%= page.tag %>
        </h1>
        <%- partial("partial/pager") %>
        <%- partial("partial/list-articles") %>
        <%- partial("partial/pager") %>
    </div>
</main>
