<%# Gitalk评论 %>
<% if (theme.gitalk.enable && page.gitalk) { %>
    <% let conf_yml = theme.gitalk; %>
    <% delete conf_yml.enale; %>
    <% let conf_json = JSON.stringify(conf_yml); %>
    <%# 如果文章指定了issue id，则强制使用指定的issue %>
    <% if (typeof page.issue_id !== 'undefined' && page.issue_id > 0) { %>
        <% conf_json.number = page.issue_id; %>
    <% } %>
    <div id="gitalk-container"></div>
    <%- css(url_for(theme.gitalk_source.css)) %>
    <%- js(url_for(theme.gitalk_source.js)) %>
    <%- js(url_for(theme.gitalk_source.md5js)) %>
    <script>
        let c = <%- conf_json %>;
        c.title = "Article: " + "<%= page.title %>"
        c.id = md5("<%= path %>");
        let gitalk = new Gitalk(c);
        gitalk.render("gitalk-container");
    </script>
<% } else { %>
    <p><%= _p("comment_disabled") %></p>
<% } %>
