<%# Gitalk评论 %>
<% if (theme.gitalk.enable && page.gitalk) { %>
    <% let conf_yml = theme.gitalk; %>
    <% delete conf_yml.enale; %>
    <% let conf_json = JSON.stringify(conf_yml);%>
    <div id="gitalk-container"></div>
    <link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css" />
    <!-- Gitalk style -->
    <%- css(url_for(theme.gitalk.css)) %>
    <%- js(url_for(theme.gitalk.js)) %>
    <%- js(url_for(theme.gitalk.md5js)) %>
    <script>
        let c = <%- conf_json %>;
        c.title = "Article: " + "<%= page.title %>"
        c.id = md5("<%= path %>");
        let gitalk = new Gitalk(c);
        gitalk.render("gitalk-container");
    </script>
<% } else { %>
    <p><%= _p("comment_disabled") %></p>
<% } %>
