<%# 文章列表 %>

<%# 描述：这个文件负责展示页面所拥有的所有文章，如：具有同样标签的文章 %>
<%# 这个文件不接收参数%>

<article class="articles-list">
<% let posts = page.posts.sort("data", "desc") %>
<% for (let i = 0; i < posts.length; i++) { %>
    <% let p = posts.data[i]
        let post_link = '';
    if (p.link && p.link !== '') {
        post_link = url_for(p.link);
    } else {
        post_link = url_for(p.path);
    }
    %>
    <article class="articles-list-item">
        <%# 页面为相册 %>
        <% if (p.photos && p.photos.length) { %>
        <% let rand_idx = Math.floor(Math.random() * p.photos.length); %>
        <div class="item-gallery">
            <% let gallery_path = url_for(p.path) + p.photos[rand_idx] %>
            <img src="<%= gallery_path %>">
        </div>
        <% } %>

        <a href="<%= post_link %>">
            <% if (p.title && p.title !== '') { %>
            <%# 文章有标题才显示标题 %>
            <p class="item-title">
                <%= p.title %>
            </p>
            <% } %>
            <%# 摘要或者截取一部分内容 %>
            <p class="item-content">
                <%# 优先使用摘要，否则使用文章内容 %>
                <% let content = "" %>
                <% if (strip_html(p.excerpt) === '') { %>
                    <%- truncate(strip_html(p.content), {length: 160, omission: "..." }); %>
                <% } else { %>
                    <%= strip_html(p.excerpt); %>
                <% } %>
                <%= content %>
            </p>
        </a>
        <%# 一些简短的装饰 %>
        <footer class="item-footer">
            <p>
            <i class="bi bi-calendar-check"></i>
            <%- _p('update_date') %>:
            <%= p.updated.format("YYYY-MM-DD") %></p>
        </footer>
    </article>
<% } %>
</article>
