<%# 文章列表 %>

<%# 描述：这个文件负责展示页面所拥有的所有文章，如：具有同样标签的文章 %>
<%# 这个文件不接收参数%>

<article class="articles-list">
<%# 实现pin功能 %>
<%  let pin = [];
    let others = [];
    let posts = page.posts.sort("updated", "desc");
    for (let i = 0; i < posts.length; i++) {
        let item = posts.data[i];
        if (item.pin) {
            pin.push(posts.data[i]);
        } else {
            others.push(posts.data[i]);
        }
    };
    posts = pin.concat(others);
%>
<% for (let i = 0; i < posts.length; i++) { %>
    <% 
    let p = posts[i]
    let post_link = '';
    if (p.link && p.link !== '') {
        post_link = url_for(p.link);
    } else {
        post_link = url_for(p.path);
    }
    %>
    <article class="articles-list-item">
        <%# 页面为相册 %>
        <% if (p.photos && p.photos.length) { %>
            <% let photos = [] %>
            <%# 把所有可能的图片路径提取出来 %>
            <% for (pic of p.photos) { %>
                <% let is_http_or_https = new RegExp(/^(http|https):\/\/[^\s]*/gm) %>
                <% if (is_http_or_https.test(pic)) { %>
                    <%# 外部链接的图片 %>
                    <%  photos.push(pic); %>
                <% } else { %>
                    <%# 本地图片 %>
                    <% if (p.gallery && p.gallery !== '') { %>
                        <% photos.push(url_for(p.gallery) + url_for(pic)); %>
                    <% } else { %>
                        <% photos.push(url_for(p.path) + pic); %>
                    <% } %>
                <% } %>
            <% } %>
            <% let len = photos.length; %>
        <div class="item-gallery">
            <script>
                document.write("<img loading='lazy' src='" + 
                    "<%- photos %>".split(',').at(Math.floor(Math.random() * <%= len %>))
                +"'>");
            </script>
        </div>
        <% } %>

        <a href="<%= post_link %>">
            <% if (p.title && p.title !== '') { %>
            <%# 文章有标题才显示标题 %>
            <p class="item-title">
                <%= p.title %>
            </p>
            <% } %>
            <%# 摘要或者截取一部分内容 %>
            <p class="item-content">
                <%# 优先使用摘要，否则使用文章内容 %>
                <% let content = "" %>
                <% if (strip_html(p.excerpt) === '') { %>
                    <%- truncate(strip_html(p.content), {length: 160, omission: "..." }); %>
                <% } else { %>
                    <%= strip_html(p.excerpt); %>
                <% } %>
                <%= content %>
            </p>
        </a>
        <%# 一些简短的装饰 %>
        <footer class="item-footer">
        <% if (p.todo) { %>
            <% let msg = ''; %>
            <% if (p.todo_msg && p.todo_msg !== '') { %>
                <% msg = p.todo_msg %>
            <% } else {%>
                <% msg = _p('todo_msg') %>
            <% } %>
            <div class="item-footer-todo">
                <div class="item-footer-todo-msg">
                    <i class="bi bi-info-circle"></i>
                    <%= msg %>
                </div>
                <div>
                <i class="bi bi-calendar-x"></i>
                <%- _p('publish_date') %>:
                <%= p.date.format("YYYY-MM-DD") %>
                </div>
            </div>
        <% } else { %>
            <div class="item-footer-finished">
                <i class="bi bi-calendar-check"></i>
                <%- _p('update_date') %>:
                <%= p.updated.format("YYYY-MM-DD") %>
            </div>
        <% } %>
        <% if (p.pin) {%>
        <i class="item-footer-pin bi bi-pin-angle-fill"></i>
        <% } %>
        </footer>
    </article>
<% } %>
</article>
