<footer id="site-footer">
    <p> © <%= date(Date.now(), 'YYYY') %> 
    <% if (theme.email) { %>
        <a href="mailto:<%= theme.email %>">
            <i class='bi bi-envelope-fill'></i>
            @<%= config.author %>
        </a>
    <% } else { %>
        @<%= config.author %>
    <% } %>
    </p>
    <p>
        <%- get_cc() %>
    </p>
    <p>
        Powered by <a href="https://hexo.io">Hexo</a>. 
        Theme by <a href="https://github.com/Huzerovo/hexo-theme-huzerovo">狐zerOAO</a>.
    </p>
    <br>
</footer>
