<nav id="topbar">
    <div class="topbar-container">
        <ul class="topbar-menu">
        <% var i; var active; %>
        <% for (var i in theme.menu) { %>
            <% if (active === i) { %> 
            <li class="topbar-menu-item">
                <%- link_to(theme.menu[i], _p(i), {class: "active"}) %>
            </li>
            <% } else { %>
            <li class="topbar-menu-item">
                <%- link_to(theme.menu[i], _p(i)) %>
            </li>
            <% } %>
        <% } %>
        </ul>
        <div class="topbar-nav-bar">
            <a class="side-menu-button" href="javascript: changeMenu()"><%= _p("menu") %></a>
            <a class="switch-theme-button" href="javascript: switchTheme()"><%= _p("switch_theme") %></a>
            <a class="go-to-top" href="javascript: scrollTo(top)"><%= _p("go_to_top") %></a>
            <a class="go-back" href="javascript: history.back()"><%= _p("go_back") %></a>
        </div>
    </div>
</nav>