<nav id="topbar">
    <div class="topbar-container">
        <ul class="topbar-menu">
        <% var i; var active; %>
        <% for (var i in theme.menu) { %>
            <% if (active === i) { %> 
            <li class="topbar-menu-item">
                <%- link_to(theme.menu[i], _p(i), {class: "active"}) %>
            </li>
            <% } else { %>
            <li class="topbar-menu-item">
                <%- link_to(theme.menu[i], _p(i)) %>
            </li>
            <% } %>
        <% } %>
        </ul>
        <div class="topbar-nav-bar">
            <a class="side-menu-button" href="javascript: changeMenu()"><%= _p("menu") %></a>
            <% if(is_home() || is_post() || is_tag() || is_category()) { %>
            <a class="switch-sidebar" href="javascript: switchSidebar()"><%= _p("switch_sidebar") %></a>
            <% } %>
            <a class="switch-theme-button" href="javascript: switchTheme()"><%= _p("switch_theme") %></a>
            <a class="go-to-top" href="javascript: scrollTo(top)"><%= _p("go_to_top") %></a>
        </div>
    </div>
</nav>
